<% @page_title = 'Pages List' %>

<h2>Pages</h2>

<%= link_to('Add New Page', {:action => 'new'}, :class => 'new-link') %>

<div><%= pluralize(@pages.size, 'page') %> found</div>
<table>
	<tbody>
		<tr>
			<th>Position</th>
			<th>Subject</th>
			<th>Permalink</th>
			<th>Page</th>
			<th>Visible</th>
			<th>Sections</th>
			<th>Actions</th>
		</tr>
		<% @pages.each do |page| %>
		<tr>
			<td><%= page.position %></td>
			<td><%= page.subject_id %></td>
			<td><%= page.permalink %></td>
			<td><%= page.name %></td>
			<td><%= status_tag(page.visible) %></td>
			<td><%= page.sections.size %></td>
			<td>
				<%= link_to('Show', {:action => 'show', :id => page.id}, :class => 'action show') %>
				<%= link_to('Edit', {:action => 'edit', :id => page.id}, :class => 'action edit') %>
				<%= link_to('Delete', {:action => 'delete', :id => page.id}, :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>