<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Simple CMS | <%= @page_title || 'Admin Area' %></title>
		<%= stylesheet_link_tag "admin" %>
		<%= javascript_include_tag('test') %>
	</head>
	<body>
		<header class="shadow">
			<%= image_tag('rails.png') %>
			<h1>Simple CMS Admin</h1>
		</header>
		<div id="main">
			<% if !flash[:notice].blank? %>
				<div class="notice">
				<p><%= flash[:notice] %></p>
				</div>
			<% end %>
			<div id="content">
				<%= yield %>
			</div>
		</div>
		<footer>
			<% time = Time.new %>
			<p id="copyright">&copy;<%= time.year %> Alexander Costa</p>
		</footer>
	</body>
</html>